In [10]:
pip install pandas numpy pyarrow plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/gitpod/.local/lib/python3.10/site-packages (1.4.3)
Requirement already satisfied: numpy in /home/gitpod/.local/lib/python3.10/site-packages (1.23.1)
Requirement already satisfied: pyarrow in /home/gitpod/.local/lib/python3.10/site-packages (9.0.0)
Collecting plotly
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 116.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.10.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas

df = pandas.read_parquet('parametric.parquet')
df

,var_dim,Demographic,var_yr,var_scope,var_stage,var_key,var_est,var_sample,note,var_source,var_type,var_ethinc,var_value
0,access,4th graders with elementary schools offering c...,2021,usa,k8_4th,cs_classOffered,no,1,,amazon survey,prob,all,3.800000e-03
1,access,4th graders with elementary schools offering c...,2021,usa,k8_4th,cs_classOffered,no,1,,amazon survey,prob,black_hispanic,6.100000e-03
2,access,4th graders with elementary schools offering c...,2021,usa,k8_4th,cs_classOffered,no,1,,amazon survey,prob,white_asian,7.900000e-03
3,access,4th graders with elementary schools offering c...,2021,usa,k8_4th,cs_classOffered,no,1,,amazon survey,prob,black,2.600000e-03
4,access,4th graders with elementary schools offering c...,2021,usa,k8_4th,cs_classOffered,no,1,,amazon survey,prob,hispanic,3.500000e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,white_asian,8.812975e+06
416,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,black,1.901153e+06
417,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,hispanic,3.220694e+06
418,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,white,7.751815e+06
419,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,asian,1.061160e+06

In [37]:
import plotly.express as px
import plotly

uni = df.loc[df['Demographic'] == 'usa universities enrollment (ipeds)']
display(uni)
fig = px.bar(uni.filter(items=['var_yr', 'var_value'], axis=1))
plotly.io.write_json(fig, 'figure.json')

,var_dim,Demographic,var_yr,var_scope,var_stage,var_key,var_est,var_sample,note,var_source,var_type,var_ethinc,var_value
413,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,all,13934822.0
414,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,black_hispanic,5121847.0
415,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,white_asian,8812975.0
416,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,black,1901153.0
417,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,hispanic,3220694.0
418,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,white,7751815.0
419,access,usa universities enrollment (ipeds),2021,usa,col,total_enrol,no,0,,ipeds,count,asian,1061160.0